@media screen and (max-aspect-ratio: 1/1) {
  #main-grid {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr) 1fr 1fr repeat(8, 1fr);
  }

  /* Main Area */

  .main-area {
    grid-area: 8 / 2 / 12 / 9;
    display: flex;
  }

  /* Other website elements */

  #twitter-btn {
    padding: 4px 8px;
    font-size: 0.8rem;
    margin-bottom: 4px;
  }

  #twitter-btn svg {
    margin-right: 4px;
    height: 8px;
    width: auto;
  }

  #logo-div,
  #guide-btn,
  #more-btn {
    display: none;
  }

  #logo-mobile {
    grid-area: 6 / 4 / 9 / 7;
  }

  #logo-mobile img {
    height: 36px;
    width: auto;
    z-index: 5;
    user-select: none;
  }

  /* Positioning of the nodes */

  /* First Row Sparse */

  #divNode1 {
    grid-area: 1 / 1 / 3 / 3;
  }

  #divNode2 {
    grid-area: 1 / 3 / 3 / 5;
  }

  #divNode3 {
    grid-area: 1 / 6 / 3 / 8;
  }

  #divNode4 {
    grid-area: 1 / 8 / 3 / 10;
  }

  /* Second Row Compact */

  #divNode5 {
    grid-area: 2 / 2 / 4 / 4;
  }

  #divNode6 {
    grid-area: 2 / 4 / 4 / 6;
  }

  #divNode7 {
    grid-area: 2 / 5 / 4 / 7;
  }

  #divNode8 {
    grid-area: 2 / 7 / 4 / 9;
  }

  /* Third Row Sparse */

  #divNode9 {
    grid-area: 3 / 1 / 5 / 3;
  }

  #divNode10 {
    grid-area: 3 / 3 / 5 / 5;
  }

  #divNode11 {
    grid-area: 3 / 6 / 5 / 8;
  }

  #divNode12 {
    grid-area: 3 / 8 / 5 / 10;
  }

  /* Fourth Row Compact */

  #divNode13 {
    grid-area: 4 / 2 / 6 / 4;
  }

  #divNode14 {
    grid-area: 4 / 4 / 6 / 6;
  }

  #divNode15 {
    grid-area: 4 / 5 / 6 / 7;
  }

  #divNode16 {
    grid-area: 4 / 7 / 6 / 9;
  }

  /* Fifth Row Compact */

  #divNode17 {
    grid-area: 5 / 2 / 7 / 4;
  }

  #divNode18 {
    grid-area: 5 / 4 / 7 / 6;
  }

  #divNode19 {
    grid-area: 5 / 5 / 7 / 7;
  }

  #divNode20 {
    grid-area: 5 / 7 / 7 / 9;
  }

  /* Sixth Row Sparse */

  #divNode21 {
    grid-area: 6 / 1 / 8 / 3;
  }

  #divNode22 {
    grid-area: 6 / 3 / 8 / 5;
  }

  #divNode23 {
    grid-area: 6 / 6 / 8 / 8;
  }

  #divNode24 {
    grid-area: 6 / 8 / 8 / 10;
  }

  /* Seventh Row Sparse */

  #divNode25 {
    grid-area: 7 / 1 / 9 / 3;
  }

  #divNode26 {
    grid-area: 7 / 3 / 9 / 5;
  }

  #divNode27 {
    grid-area: 7 / 6 / 9 / 8;
  }

  #divNode28 {
    grid-area: 7 / 8 / 9 / 10;
  }

  /* Eighth Row Center */

  #divNode29 {
    grid-area: 9 / 1 / 11 / 3;
  }

  #divNode30 {
    grid-area: 9 / 8 / 11 / 10;
  }

  /* Ninth Row Sparse */

  #divNode31 {
    grid-area: 11 / 1 / 13 / 3;
  }

  #divNode32 {
    grid-area: 11 / 3 / 13 / 5;
  }

  #divNode33 {
    grid-area: 11 / 6 / 13 / 8;
  }

  #divNode34 {
    grid-area: 11 / 8 / 13 / 10;
  }

  /* Tenth Row Sparse */

  #divNode35 {
    grid-area: 12 / 1 / 14 / 3;
  }

  #divNode36 {
    grid-area: 12 / 3 / 14 / 5;
  }

  #divNode37 {
    grid-area: 12 / 6 / 14 / 8;
  }

  #divNode38 {
    grid-area: 12 / 8 / 14 / 10;
  }

  /* Eleventh Row Compact */

  #divNode39 {
    grid-area: 13 / 2 / 15 / 4;
  }

  #divNode40 {
    grid-area: 13 / 4 / 15 / 6;
  }

  #divNode41 {
    grid-area: 13 / 5 / 15 / 7;
  }

  #divNode42 {
    grid-area: 13 / 7 / 15 / 9;
  }

  /* Twelfth Row Compact */

  #divNode43 {
    grid-area: 14 / 2 / 16 / 4;
  }

  #divNode44 {
    grid-area: 14 / 4 / 16 / 6;
  }

  #divNode45 {
    grid-area: 14 / 5 / 16 / 7;
  }

  #divNode46 {
    grid-area: 14 / 7 / 16 / 9;
  }

  /* Thirteenth Row Sparse */

  #divNode47 {
    grid-area: 15 / 1 / 17 / 3;
  }

  #divNode48 {
    grid-area: 15 / 3 / 17 / 5;
  }

  #divNode49 {
    grid-area: 15 / 6 / 17 / 8;
  }

  #divNode50 {
    grid-area: 15 / 8 / 17 / 10;
  }

  /* Fourteenth Row Compact */

  #divNode51 {
    grid-area: 16 / 2 / 18 / 4;
  }

  #divNode52 {
    grid-area: 16 / 4 / 18 / 6;
  }

  #divNode53 {
    grid-area: 16 / 5 / 18 / 7;
  }

  #divNode54 {
    grid-area: 16 / 7 / 18 / 9;
  }

  /* Fifteenth Row Sparse */

  #divNode55 {
    grid-area: 17 / 1 / 19 / 3;
  }

  #divNode56 {
    grid-area: 17 / 3 / 19 / 5;
  }

  #divNode57 {
    grid-area: 17 / 6 / 19 / 8;
  }

  #divNode58 {
    grid-area: 17 / 8 / 19 / 10;
  }
}
